/* Style your widget here */

.mdui-runtime .ui-dialog {
    background: #1d2e44;
}

.vis-advanced-controls-class {
    font-style: italic;
}

.vac-dialog-0-icon {
    float: left;
    width: 72px;
    height: 56px;
}

.vac-dialog-0-icon img {
    margin-left: 8px;
    width: 48px;
    height: 48px;
    background: black;
}

.vac-dialog-100-icon {
    float: left;
    width: 100px !important;
    text-align: right;
}

.vac-dialog-100-icon img {
    margin-left: 8px;
    width: 48px;
    height: 48px;
    background: black;
}


.vac-dialog-radio {
    float: left;
    width: calc(100% - 72px - 100px - 16px);
    height: 56px;
    margin-top: 10px;
}

.mdui-runtime .ui-dialog {
    height: 600px;
    width: 590px;
    top: 58px;
    left: 200px;
    /* background: var(--content-background) !important; */
    position: absolute;
    background: #cc1a1a;
}

.vac-list-value img {
    margin-left: 8px;
    width: 18px;
    height: 28px;
    filter: invert(1);
}

.vac-list-value {
    float: left;
    width: 100px;
    text-align: right;
    margin-top: 10px;
}

.vac-list-value button {
    background: white;
}